@import '~@angular/material/theming';

@mixin flex-layout-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent:  map-get($theme, accent);
  $warn:  map-get($theme, warn);

    .parent-one {
        height: 100px;
        max-width: 600px;
        @include background-color(mat-color($primary, 700));
    }

    .parent-two {
        height: 100px;
        @include background-color(mat-color($primary, 700));
    }

    .child-one {
        @include background-color(mat-color($accent));
    }

    .child-two {
        @include background-color(mat-color($accent, 900));
    }

    .child-three {
        @include background-color(mat-color($accent, 700));
    }

    .child-four {
        @include background-color(mat-color($accent, A700));
    }

    .holy-grail {
        @include background-color(mat-color($primary, 700));
        header {
            @extend .child-one;
        }

        aside {
            @extend .child-two;
        }

        article {
            height: 300px;
            @extend .child-three;
        }

        nav {
            height: 300px;
            @extend .child-four;
        }

        footer {
            @extend .child-one;
        }
    }
}

@mixin background-color($color) {
    background-color: $color;
  }

  

  
