
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav 
          #drawer 
          class="sidenav" 
          fixedInViewport="false"
          [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" 
          [mode]="(isHandset$ | async) ? 'over' : 'side'"
          [opened]="!(isHandset$ | async)">
          <lcu-nav-list [nav-links]="NavLinks"></lcu-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
          
            <mat-toolbar color="primary" fxLayout="row">
              <div fxFlex="20" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
                  <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>
                <img class="logo" [src]="LogoURL" alt="{{LogoAlt}}">
              </div>
                <div fxLayout="row" fxFlex fxLayoutGap="20px" fxLayoutAlign="end center">
                  <lcu-users-list [users]="Users"></lcu-users-list>
                  <form fxLayout="column" [formGroup]="Form" novalidate>
                  <mat-form-field>
                      
                    <mat-select formControlName="themesControl" (valueChange)="SelectTheme($event)">
                        <!-- <mat-select-trigger>
                            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
                                <mat-icon>{{theme.Icon}}</mat-icon>
                                <span>{{theme.Label}}</span>
                            </div>
                             </mat-select-trigger> -->
                        <mat-option *ngFor="let theme of Themes" [value]="theme.Value">
                        
                          <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
                              <!-- <mat-icon>{{theme.Icon}}</mat-icon> -->
                              <span>{{theme.Label}}</span>
                          </div>
                          </mat-option>
                        <!-- <mat-option value="default-theme">Light Theme</mat-option>
                        <mat-option value="dark-theme">Dark Theme</mat-option> -->
                    </mat-select>
                </mat-form-field>
              </form>
                </div>
            </mat-toolbar>
       
          <!-- Content is injected here -->
          <ng-content></ng-content>
        </mat-sidenav-content>
      </mat-sidenav-container>
     